<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Lato:100,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="button.css">
</head>
<body>
	<div class="container">
		<h3><mark>A Basic Button</mark></h3>
		<div class="button">Buy Now</div>

		<h3><mark>A Button Element with the Button Class</mark></h3>
		<button class="button">Send Mail</button>

		<h3><mark>An Anchor with a Button Class</mark></h3>
		<a href="#" class="button">Search</a>

		<h3 style="text-align:center"><mark>Buttons of different sizes</mark></h3>
		<div class="button button-sm">A Small Button</div>
		<div class="button button-md">A Medium Button</div>
		<div class="button button-lg">A Large Button</div>
	</div>
</body>
</html>